body{
    overflow-y: scroll;
}

h1 {
  margin-bottom: 5%;
}
a {
    padding: 5px;
    border: 3px solid #00a0d7;
    color: #000;
    margin-right: 10px;
}
.active {
  background: #00a0d7;
  color: #fff !important;
}
a:hover {
  text-decoration: none;
  cursor: pointer;
}
